[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Tonino
GenericName=Roast Color Meter
Comment=Evaluates coffee roast degree
Exec=tonino %U
TryExec=tonino
Icon=tonino.png
Terminal=false
Categories=Utility;
MimeType=application/x-tonino-toni;
