Source: tonino
Package: tonino
Version: _VERSION_
Section: misc
Depends: libc6 (>= 2.3), libc6 (>= 2.3.6-6~)
Priority: extra
Architecture: i386
Installed-Size: 67510
Maintainer: Marko Luther <marko.luther@gmx.net>
Homepage: http://mytonino.com
Description: Roast Color Analyzer
